{%  extends 'store/Main.html' %}
{% load static %}
{% block content %}


<br>

<div class="row">

    <hr />

    <hr />
    <div class="col-md-12">
        <h5>Customers: </h5>
        <hr>
        <div class="card card-body">

            <table class="table table-sm">
                <tr>
                    <th>Customer profile pic</th>
                    <th>Customer Name</th>
                    <th>Cutomer Email</th>
                    <th>Update</th>
                    <th>Remove</th>
                </tr>

                {% for customer in customers %}
                <tr>
                    <td>
                       <img class="row-image" src="{{customer.imageURL}}">
                    </td>
                    <td>{{customer.name}}</td>
                    <td>{{customer.email}}</td>
                    <td><a class="btn btn-sm btn-info" href="{% url 'update_prof' customer.id %}">Update</a></td>

                    <td><a class="btn btn-sm btn-danger" href="{% url 'delete_prof' customer.id %}">Delete</a></td>

                </tr>
                {% endfor %}



            </table>
        </div>
    </div>

</div>

{% endblock %}

