{%  extends 'store/Main.html' %}
{% load static %}
{% block content %}


<br>

<div class="row">

    <div class="col-lg-12">
        <div class="box-element">

            {% for product in products %}




            <hr>
            <div class="cart-row">
                <div style="flex:2"><img class="row-image" src="{{product.imageURL}}"></div>
                <div style="flex:2"><p>{{product.name}}</p></div>
                <div style="flex:1"><p>${{product.price|floatformat:2}}</p></div>
                <div><a class="btn btn-sm btn-info hello-msg" href="{% url 'update_order' product.id %}">Update</a></div>
                <div><a class="btn btn-sm btn-danger hello-msg" href="{% url 'delete_order' product.id %}">delete</a></div>

            </div>
            {% endfor %}
        </div>
    </div>
    <hr />

    <div class="col-lg-12">
        <div class="box-element">
            <div class="cart-row">

                <form action="" method="post">
                    {% csrf_token %}



                    {{ form.as_p }}




                    <button class="btn btn-primary" type="submit">Submit form</button>

                </form>
            </div>
        </div>

    </div>
</div>

<div class="container py-5">


 
            {% endblock %}

